.Header-admin{
    padding: 0.5em 1em 0.5em 2em;
    background: #FFFFFF;
    
    box-shadow: 0px 0px 4px #00000040;
    font-family: "Mulish";

    .section-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        p{
            font-size: 16px;
            
        }
    
        
        .header-circulo{
            width: 1.5em;
            height: 1.5em;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
    
            border-radius: 50%;
            background-color: #79458B;
    
            h3{
                color: #ffff;
                margin: 0px;
            }
        }
    }
}
