.comp-menu {
    height: 100vh;
    width: 20%;
    
    background-color: #AF89BB;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
    .logo {
        display: flex;
        justify-content: center;
        padding: 30px;
    }
   
    .item{
        padding-right: 30px;
    }

    .menu-items {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        
       
    }
    .menu-items > div {
        display: flex;
        align-items: center;
        background-color: #AF89BB;
        
        padding: 2em 2em;
       
        color: #fff;

        transition: .3s;
        cursor: pointer;
        
        img{
            margin-right: 1em;
        }
    }
    .menu-items > div:hover {
        background-color: #986BA7;
    }    
    .menu-sair{
        display: flex;
        justify-content: center;
        font-size: 2em;
        color: #7A4489;
        background-color: #AF89BB;
        span{
            color: #7A4489;
            margin: 0px;
        }
        .img-sair{
            margin-right: 0em;
        }
    }

    

    .selecionado{
        background-color: #986BA7;
    }

}