.politica-principal{
    min-height: 100vh;

    .header{
        display: flex;
        flex-direction: column;
        height: fit-content;

        background-image: linear-gradient(#CFA7CA, #A791C0);

        .header-align1{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 1em 2em 0em 2em;
    
            button{
                height: 3em;
                width: 11em;
    
                background-color: #ffff;
                color: #79458B;
                border: none;
                border-radius: 25px;
            }
            button:hover{
                cursor: pointer;
            }
        }
        .header-align2{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0em 5em 0em 3em;
            align-items: center;
            color: #ffff;
        }
    }

    .secao-termos{
        padding: 2em 5em;
        text-align: justify;

        .texto-alteracao{
            color: #8b8b8b;
        }

        h2{
            font-size: 22px;  
        }

        li{
            margin-top: 0.5em;
        }

        #back-to-top{
            height: 3.5em;
            width: 12em;
            margin-top: 3em;
    
            background-color: #79458B;
            color: #ffff;
            border: none;
            border-radius: 25px;
        }
        #back-to-top:hover{
            cursor: pointer;
        }
        
    }
}