
main {
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    
    }
    animation: fadein 0.7s;
}

@font-face {
    font-family: "Mulish" ;
    src: url('../../../public/assets/fonts/Mulish-Regular.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500&display=swap');


*::-webkit-scrollbar {
    width: 1rem;
}

*::-webkit-scrollbar-track {
    background-color:#A791C0;
}

*::-webkit-scrollbar-thumb {
    background-color:#796392;
    border-radius: 10px;
}