

.perfil-usuario-main {
    font-family: "Mulish";
   
    .nome-usuario {
        position: relative;
        padding-left: 10em;
        img {
            position: absolute;
            
        }
    }
    .pic-background-user {
        background-image: linear-gradient(#CFA7CA, #A791C0    );
        height: 40vh;
        display: flex;
        justify-content: space-between;
        position: relative;
        
            img {
                width: 17em;
                height: 5em;
            }
          
        .buttons {
            display: flex;
            height: fit-content;
            width: 30%;
            padding: 1em;
            font-size: 1em;
            justify-content: space-evenly;

            button {
                display: flex;
                background-color: #fff;
                padding: 0.8em 1.5em 0.8em 1.5em;
                font-size: 1em;
                border-radius: 26.5px;
                border: none;
                cursor: pointer;
                font-family: "Mulish";
                color: #7A4489;
                align-items: center;

                img {
                    
                    width: 15px;
                    height: 20px;
                    margin-right: 0.5em;
                }
            }
        }
        .pic-user {
            
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #D3B2E2;
            border-radius: 100%;
            width: 200px;
            height: 200px;
            border: 15px solid white;
            
            position: absolute;
            bottom: -7em;
            left: 5em;
           

            span {
                font-size: 60px;
                font-weight: bold;
                color: #fff;
            }
        }
        
    }
}