.adm-cadastros-principal{
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow-y:hidden;
    

    .menu{
        width: 20%;
    }

    .adm-cad-section{
        width: 80%;

        .section-cadastros{
            overflow-y: scroll;
            height: 80vh;
            padding: 2em 0em;
            display: grid;
            grid-template-columns:auto auto;
            
            align-items: center;
            justify-content: center;
            
            column-gap: 7em;
            row-gap: 2em;
        }
    }
}