.adm-cadastros-principal{
    height: 100vh;
    display: flex;
    flex-direction: row;

    .menu{
        height: 100vh;
        width: 20%;
    }

    .adm-cad-section{
        width: 80%;
        height: 100vh;

        .section-cadastros{
            padding: 2em 0em;
            display: grid;
            align-items: center;
            justify-content: center;
            grid-template-columns: auto auto;
            column-gap: 7em;
            row-gap: 2em;
            
        }
    }
}