.Main-cadastro-paciente {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1em;
    background-color: #ffffff;
    height: 100vh;

    .div-logo {
        display: flex;
        flex-direction: column;
        justify-self: flex-start;
        align-self: flex-start;
    }

    .global {
        display: flex;
        flex-direction: row;
        height: 100vh;
    }

    .lado-esquerdo {
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: center;
        width: 65%;
    }

    .computadozinho {
        width: 40em;
    }

    .botao-direito {
            background-color: #79458B;
            color: white;
            border-radius: 50px;
            border: 10px;
            padding: 20px;
            text-decoration: none;
    }

    .container-texto-botao{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textao {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        font-size: 20px;
    }

    .textinho {
        display: flex;
        flex-direction: column;
        padding: 8px;
        width: 100%;
    }

    .lado-direito {
        display: flex;
        flex-direction: column;
        width: 35%;
        align-items: flex-start;
    }

    label{
        margin-top: 15px;
        margin-left: 10px;
    }

    .termos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 1em;

        input{
                all: unset;
                border: 2px solid #D9D9D9;
                width: 12px;
                height: 12px;
                display: inline-block;
                border-radius: 20px;
                margin-right: 2px;
                margin-left: px;
        }
        input:checked{
            background-color: #79458B;
            
        }
    }

    .input {
        outline: none;
        width: 80%;
        height: 2.5em;
        border: none;
        font-size: 16px;
        padding-left: 12px;
        font-family: 'Mulish';
        background: #DEDEDE;
        border-radius: 18.5px;
    }


    .link {
        color: #3A1248;

    }


    .botao-ladodireito{
        display: flex;
        align-items: center;
        flex-direction: column;
        align-self: center;
        margin-right: 1em;

        span{
            font-size: 12px;
            color: red;
        }
        button {
        
            width: 15em;
            padding: 15px;
            color: #ffffff;
    
            background-color: #79458B;
            border: none;
            border-radius: 25px;
        }
        button:hover {
            cursor: pointer;
        }
    }

    .botao {
        text-decoration: none;
        margin-left: 12em;
    }

}

@media (max-width: 1024px) {
    .Main-cadastro-paciente{
        flex-direction: row;

        .input{
            width: 90%;
        }

        .computadozinho{
            width: 30em;
        }
    }
}

@media (max-width: 700px){
    .Main-cadastro-paciente{
      .global{
        flex-direction: column;
        width: 100%;
      }
      .lado-esquerdo{
        width: 100%;
        align-items: center;
        .botao-direito{
            padding: 15px;
            font-size: 15px;
        }
      }
      
      .lado-direito{
        width: 100%;
        align-items: center;

        .textinho{
            width: 60%;
            .input{
                width: 100%;
            }
        }
        
      }
    }
}


@media (max-width: 550px) {
    .Main-cadastro-paciente{
        .global{
          flex-direction: column;
          width: 100%;
        }
        .lado-esquerdo{
          width: 100%;
          align-items: center;
          .botao-direito{
              padding: 15px;
              font-size: 15px;
          }
        }
        
        .lado-direito{
          width: 100%;
          align-items: center;
  
          .textinho{
              width: 80%;
              .input{
                  width: 100%;
              }
          }
          
        }
      }
}

@media (max-width: 440px){
    .Main-cadastro-paciente{
        padding: 0px;
        .computadozinho{
            width: 23em;
        }
        .textao{
            font-weight: 600;
            font-size: 20px;
            align-items: center;
            text-align: center;
        }
        .textinho{
            width: 95%;
        }
    }
}