.cadastro-voluntario{
    display: flex;
    flex-direction: row;
    padding: 1em;

    width: 100%;
    min-height: 100vh;

    .secao1{
        width: 60%;
        min-height: 100vh;
        padding: 0em 5em 1em 0em;

        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 17em;
        }
        button{
            width: 16em;
            height: 4em;
            border-radius: 30px;
            border: none;
            color: #ffff;
            background-color: #79458B;
            margin-top: 1em;

        }
        
        a{
            display: flex;
            flex-direction: column;
            width: 16em;
            height: 4em;
            border-radius: 30px;
            border: none;
            text-decoration: none;
            text-align: center;
            justify-content: center;
            color: #ffff;
            background-color: #79458B;

            margin-top: 1em;
        }
        .logonat{
            
            align-self: flex-start;
            img{
                width: 14em;
            }
        }
        .s1-alinhamento-texto{
            width: 75%;
            font-family: 'Mulish';   
        }
        .s1-alinhamento-texto > *{
            margin-top: 1.5em;
        }

    }

    .secao2{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3em;
        min-height: 100vh;

        width: 40%;

        .logonat{
            display: none;
        }

        .s2-alinhamento-inputs{
            display: flex;
            flex-direction: column;
            margin-top: 1em;
            
            width: 100%;
            

            

            label{
                margin-left: 5px;
            }
            input{
                width: 75%;
                height: 3em;
                border-radius: 18px;
                border: none;
                outline: 0;
                padding: 0px 1px 0px 15px;

                background-color: #DEDEDE;
            }
            select{
                width: 78%;
                height: 3em;
                border-radius: 18px;
                border: none;
                outline: 0;
                padding: 0px 1px 0px 15px;

                background-color: #DEDEDE;
            }
        }
        .s2-alinhamento-inputs > *{
            margin-top: 0.5em;
        }
        .s2-radio{
            display: flex;
            align-items: center;
            margin-left: 2px;
            margin-top: 0.7em;
            align-self: flex-start;
            font-size: 13px;
            padding-left: 0.8em;
            
            input{
                all: unset;
                border: 2px solid #D9D9D9;
                width: 12px;
                height: 12px;
                display: inline-block;
                border-radius: 20px;
                margin-right: 2px;
                margin-left: px;
            }
            input:checked{
                background-color: #79458B;
                
            }
            
            span{
                color: #3A1248;
                text-decoration: underline;
            }
            span:hover{
                cursor: pointer;
            }
        }
        button{
            width: 13em;
            height: 4em;
            border-radius: 30px;
            border: none;
            
            color: #ffff;
            background-color: #79458B;

            margin-top: 2em;
            margin-right: 3em;
        }
    }
    
}

@media (max-width: 1024px){
    .cadastro-voluntario{
        display: flex;
        flex-direction: column-reverse;

        .secao1{
            width: 100%;
            min-height: 100vh;
            padding-top: 3em;
            padding-right: 0em;
            align-items: center;

            .logonat{
                display: none;
            }
        }

        .secao2{
            width: 100%;
            min-height: 0vh;
            align-items: center;
            padding-top: 0em;

            .logonat{
                display: unset;
                align-self: flex-start;
            }

            .s2-alinhamento-inputs{
                width: 50%;
                align-items: center;
                
                label{
                    margin-left: 5px;
                    align-self: flex-start;
                }
                input{
                    width: 98%;
                }
                select{
                    width: 100%;
                }
            }
            .s2-radio{
                align-self: unset;
                margin-top: 2em;
                gap: 0.5em;

                input{
                    width: 18px;
                    height: 18px;
                    border: #D9D9D9 3px solid;
                }
            }

            button{
                width: 13em;
                height: 4em;
                border-radius: 30px;
                border: none;
                
                color: #ffff;
                background-color: #79458B;
    
                margin-top: 2em;
                margin-right: 0em;
            }
        }
    }
}

@media (max-width: 700px) {
    .cadastro-voluntario{
        .secao2{
            .s2-alinhamento-inputs{
                width: 70%;
            }
        }
    }
}

@media (max-width: 414px) {
    .cadastro-voluntario{

        .secao2{
            .s2-alinhamento-inputs{
                width: 95%;
                align-items: center;
            }

            .logonat{
                img{
                    width: 12em;
                }
            }
            
            button{
                width: 12em;
                height: 3.5em;
            }
        }
        .secao1{
            img{
                width: 13em;
            }
        }
    }
}
