*{
    margin: 0px;
    padding: 0px;
}

.pagListar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: mulish;

    .pagResto{
        margin-top: 4em;
    }

    .search{
        display: flex;
        background-color: #79458B;
        width: 102.5em;
        height: 5em;
        align-items: center;
        margin-left: 8em;
        border-radius: 20px 20px 0px 0px;
        justify-content: space-around;

        img{
            padding-right: 5em;

        }
        
        input{
            width: 70em;
            padding: 10px;
            height: 3.2em;
            background-color: #79458B;
            margin-left: 20px;
            color: white;
            border: none;
            font-size: 20px;
            
        }
        input::placeholder{
            font-family: mulish;
            color: white;
            opacity: 100%;
        }
    }

.listaBG{
    background-color: #D1B7DA;
    padding: 20px;
    width: 100em;
    margin-left: 8em;

    .listaBlock{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    
    .listaItens{
        display: flex;
        flex-direction: column;
        width: 20em;
        align-items: flex-start;
        padding: 20px 30px;


        p{
            font-size: 21px;
            font-weight: 700;
        }
    }
}
}
}